*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: cadetblue;
}

header{
    margin: 20px;
    padding: 10px;
}

section{
    padding: 0px 200px;
}

button{
    width: 100px;
    height: 40px;
    background-color: burlywood;
    cursor: pointer;
}

#btnBusca:hover{
    cursor: pointer;
    background-color: red;
}

#btnLimpiar:hover{
    cursor: pointer;
    background-color: red;
}



#texto{
    font-size: 20px;
}

#pregunta{
    padding: 20px 10px 20px 10px;
}

#bg {
    width: 100%;

   
}

#grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;
}

#grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

#grid li {
    text-align: center;
    font-weight: bold;
    color: rgb(93, 70, 40);
}

#grid li span {
    display: block; /* Cambiar de inline-block a block */
    margin-top: 5px; /* Añadir un margen superior entre la imagen y el texto */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}